<ion-view title="{{recipe.NAME}}">
  <ion-nav-buttons side="right">
  <button class="button" ng-click="updateRecipe()">
   <i class="icon ion-refresh"></i>
  </button> 
</ion-nav-buttons>

<ion-content class="has-header">
<div class="list">
    <div class="item">{{recipe.NAME}}<a class="pull-right" ng-click="editRecipe(recipe)">Editar receta</a></div>


        <div class="item item-divider">
        Estadisticas
       </div>
        <div class="item">
             <div class="row" >
                <div class="col"> 
                    <strong>Color:</strong> <span title="{{error.CALCCOLOUR}}" alert-input="error.CALCCOLOUR">
                        {{recipe.CALCCOLOUR | number:1}} SRM</span>
                </div>
                <div class="col">
                    <div style="border: 1px solid;height: 40px;border-radius: 5px;margin-top: -10px;margin-bottom: -10px; background-color: {{convertColor(recipe.CALCCOLOUR)}};">

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
         <div class="row" >
            <div class="col"> 
                <strong>OG: {{recipe.OG}}</strong>
            </div>
            <div class="col"> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning"
                             role="progressbar"
                             aria-valuenow="{{gravityBarValue(recipe.OG,110)}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{height:'100%',width:gravityBarValue(recipe.OG,110)+'%'}"
                             >
                            <span class="sr-only">OG: {{gravityBarValue(recipe.OG,110)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
         <div class="row" >
            <div class="col"> 
                <strong>FG: {{recipe.FG}}</strong>
            </div>
            <div class="col"> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-info"
                             role="progressbar"
                             aria-valuenow="{{gravityBarValue(recipe.FG,110)}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{height:'100%',width:gravityBarValue(recipe.FG,110)+'%'}"
                             >
                            <span class="sr-only">FG: {{gravityBarValue(recipe.FG,110)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
         <div class="row" >
            <div class="col"> 
                <strong>ABV: {{recipe.ABV}}</strong>
            </div>
            <div class="col"> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger"
                             role="progressbar"
                             aria-valuenow="{{recipe.ABV/15*100}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{height:'100%',width:recipe.ABV/15*100+'%'}"
                             >
                            <span class="sr-only">ABV: {{recipe.ABV/15*100}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
         <div class="row" >
            <div class="col"> 
                <strong>IBU: {{recipe.CALCIBU}}</strong>
            </div>
            <div class="col"> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-success"
                             role="progressbar"
                             aria-valuenow="{{recipe.CALCIBU/100*100}}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{height:'100%',width:recipe.CALCIBU/100*100+'%'}"
                             >
                            <span class="sr-only">IBU: {{recipe.CALCIBU/100*100}}</span>
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="item">
            <div class="row">
              <div class="col"> 
                <b>Balance</b>: {{calulateBUGU(recipe.CALCIBU,recipe.OG)|number:2}}
                </div>
            <div class="col"> 
                <div class="progress">
                    <div class="progress-bar progress-bar-success" ng-style="{width: (calulateBUGU(recipe.CALCIBU,recipe.OG)*100)+'%'}">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar progress-bar-warning" ng-style="{width: ((1-calulateBUGU(recipe.CALCIBU,recipe.OG))*100)+'%'}">
                        <span class="sr-only"></span>
                    </div>
                </div> 
            </div>
        </div>
        </div >
        <div class="item item-divider">
        Receta
       </div>
        
        <a ng-click="showFermentables();" class="item">
            <div class="row">
                <div class="col">Fermentables</div>
                <div class="col icon "><img  class="barley" src="images/barley.svg" height="30px"></div>
            </div>
        </a>
        <a ui-sref="tabs.recipeLupulo" class="item">
            <div class="row">
                <div class="col">Lúpulos</div>
                <div class="col icon "><img  class="hops" src="images/hops.svg" height="30px"></div>
            </div>
        </a>
         <a ui-sref="tabs.recipeLevadura" class="item">
            <div class="row">
                <div class="col">Levadura</div>
                <div class="col icon "><img  class="yeast" src="images/yeast.svg" height="30px"></div>
            </div>
        </a>
         <a ui-sref="tabs.recipeOtros" class="item">
            <div class="row">
                <div class="col">Otros / Adjuntos</div>
                <div class="col icon "><img  class="other" src="images/plus.svg" height="30px"></div>
            </div>
        </a>
         <a ui-sref="tabs.recipeAgua" class="item">
            <div class="row">
                <div class="col">Agua</div>
                <div class="col icon "><img  class="other" src="images/water.svg" height="30px"></div>
            </div>
        </a>
         <a ui-sref="tabs.recipeMash" class="item">
            <div class="row">
                <div class="col">Macerado</div>
                <div class="col icon "><img  class="other" src="images/mash.svg" height="30px"></div>
            </div>
        </a>
         <a ui-sref="tabs.recipeHervido" class="item">
            <div class="row">
                <div class="col">Hervido</div>
                <div class="col icon "><img  class="other" src="images/boil.svg" height="30px"></div>
            </div>
        </a> 
         <a ui-sref="tabs.bitacora"  ng-hide=true; class="item">
            <div class="row">
                <div class="col">Bitacora</div>
                <div class="col icon "><img  class="other" src="images/bitacora.svg" height="30px"></div>
            </div>
        </a>
    </div>
   </ion-content>
</ion-view>