 <ion-view title="Login" >
 <ion-nav-buttons></ion-nav-buttons> 
   <ion-content class="has-header">
   <div class="card" >
   <div class="row">
   	<div class="col">
	  <h1> Bienvenido!</h1>

	Para poder comenzar a crear recetas debes primero loguearte, para esto necesitas una cuenta de Google/Gmail/Google+ .

	<div class="col">
   		<button class="button button-positive" ng-click="login()">Acceder</button>
	</div>
	</div>
	</div>
	</div>
 <div class="card">
	<div class="row">

   	<div class="col">
	<p>Si el boton acceder no funciona prueba ingresar por codigo (Android vintage 4.1,4.2 4.4)</p>

	<p>Para ingresar por codigo primero navega a <a  href="#" onclick="window.open('http://brew-o-matic.com.ar/#/settings', '_system', 'location=yes'); return false;">http://brew-o-matic.com.ar/#/settings</a><br></p>
	<p>Luego Copia la clave de acceso aqui:<br></p>
	<div class="col">
	<div class="row">
		<div class="col">
		<input  ng-model="code" type="text" id="codeInput" style="border: 1px solid #8c8c8c;border-radius: 2px;height: 46px;" class="form input"><br>
		</div>
		<div class="col">
	   		<button class="button button-positive" ng-click="loginWithCode()">Acceder</button>
		</div>
	</div>
	<p>
	Desarrollado por Cesar Moro - licencia MIT.
	Socio de Somos Cerveceos Nº 0977.
	</p>
	<p>
	Como complemento del Brew-o-Matic.
	Desarrollado por Lautaro Cozzani bajo licencia MIT.
	Socio de Somos Cerveceos Nº 0618
	Cualquier duda, problema o sugerencia brewomatic@gmail.com
	</div>
	</div>
	</div>
	
  
</p>
	
</ion-content>
</ion-view>