<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
        <title>Brew-o-Matic {{env}}</title>
        <link rel='stylesheet' href='/css/style.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://apis.google.com/js/client:plusone.js"></script> 

        <link rel="canonical" href="http://brew-o-matic.eu01.aws.af.cm" />

        <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
        <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
  
      
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="lib/ion-floating-menu/dist/ion-floating-menu.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="st ylesheet">
        -->

        <!-- ionic/angularjs js -->
        <script src="secrets.js"></script>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ion-floating-menu/dist/ion-floating-menu.min.js"></script>
        <script src="lib/ionic-native/ionic.native.js"></script>
        <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
        <script src="js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="lib/ng-cordova/ng-cordova.min.js"></script> 
        <script src="cordova.js"></script>


        
        <script src="js/all.js"></script>
        <script src="js/ionic.js"></script>

        

  </head>
  <body>
    <div></div>
   
    
    <ion-side-menus ng-controller="NavCtrl">
        
        <ion-side-menu-content >
          <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
          
            <ion-nav-buttons ng-show="loginSuccess" side="left">
              <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
              </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-ios7-gear" ng-click="showRightMenu()">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content> 
        
        <ion-side-menu side="left" ng-show="loginSuccess">
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Brew-o-Matic</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ul class="list">
              <li>  <div class="item item-divider" >Recetas</div> </li>
              <li>  <a class="item" menu-close nav-clear ui-sref="tabs.recipe">Recetas</a> </li> 
              <li>  <a class="item" menu-close nav-clear ui-sref="tabs.colaborate">Colaboraciones</a> </li>
              <!--<li>  <a class="item" menu-close nav-clear ui-sref="tabs.favorite">Recetas Favoritas</a> </li>--> 
              <li>  <a class="item" menu-close nav-clear ui-sref="tabs.public">Recetas Publicas</a> </li>
              <li>  <div class="item item-divider" >Utilidades</div> </li>
              <li> <a class="item" menu-close ui-sref="tabs.timer">Timer</a></li> 
              <li><a class="item" menu-close ui-sref="tabs.calculator">Calculadoras</a></li>
              <li><a class="item" menu-close ui-sref="info">Informaci&oacute;n</a></li>
              <li><a class="item" ng-click="logout()"  >Logout</a></li>


            </ul>
          </ion-content>
        </ion-side-menu>
      

        
      </ion-side-menus>

  </body>

</html>
