

a {
  color: #00b7ff;
}

.pager, .nav, .pagination, .carousel a { cursor: pointer; }

.gt-warning {
    background: yellow !important
}


.gt-green {
    background: green !important;
    color: white !important;
}

.gt-error {
    background: red !important;
    color: white !important;
}

.gt-calculated {
    color: #FFFFCC;
    font-weight: 600;
    background: none!important;
     color: #1a8214!important; 
}

.gt-preset {
    background: #ddf8e6 !important;
}

.gt-fermentation-stage-title {
    font-weight: bold !important;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
    width: 80% !important;
}

.gt-fermentation-stage-btn-move {
    margin-right: 1em !important;
    padding: 0 !important;
    background: transparent !important;
    border: 0 !important;
    -webkit-appearance: none !important;
}

.gt-notification-unread {
    background: #F9F9F9 !important;
    border-width: 2px !important;
}

.gt-notification-new {
    background: lightgoldenrodyellow !important;
}

.gt-notificaction-count-alert {
    background: red !important;
}

.gt-notification {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;

}

.gt-sorted {
    cursor: pointer
}

.gt-sorted:hover {
    text-decoration: underline;
}

.gt-tagbox {
    border:0 !important;
}

.gt-tagbox:focus {
    border:0 !important;
}

.btn-yellow {
    color: #fff;
    background-color: #DDDD00;
    border-color: #DDDD00;
}

.btn-yellow:hover {
    color: #fff !important;
    background-color: #d0d000 !important;
    border-color: #d0d000 !important;
}

.btn-brown {
    color: #fff;
    background-color: #a52a2a;
    border-color: #a52a2a;
}

.btn-brown:hover {
    color: #fff !important;
    background-color: #951a1a !important;
    border-color: #951a1a !important;
}

.gt-log-active {
    background: lightblue !important;
}

.gt-log-removed {
    background: red !important;
}

.gt-log-removed:hover {
    background: lightpink !important;
}

.gt-range-in {
    color: green !important;
}

.gt-range-out {
    color: red !important;
}

.animate-repeat {

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}


.animate-show {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
  opacity:1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  opacity:0;
}


.print-panel {
    font-family: courier new;
}

.print-panel-xs {
    font-size: 8px !important;
}

.print-panel-sm {
    font-size: 10px !important;
}

.print-panel-md {
    font-size: 12px !important;
}

.print-panel-lg {
    font-size: 14px !important;
}

.print-panel table {
    font-size: inherit;
}

.chron {
    font-family: "Lucida Console", Sans-serif;
    font-size: 60px;
    width: 100px;
    font-weight: bold;
    color: green;
    background: black;
    padding-left: 10px;
}

// Grid Listview
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.input-group-addon, .input-group-btn {
    width: 2%;
    white-space: nowrap;
    vertical-align: middle;
}
.item-input {
    padding-right: 10px;
}


.progress {
  height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}


.srm-logo{
  text-align:center;
}

.col.icon {
    text-align: right;
}


span.text-danger.ng-binding {
    color: red; 
    font-size: 14px;
    font-weight: bold;
}
span.text-success.ng-binding {
    color: green;
    font-size: 14px;
    font-weight: bold;
}

.col {
    white-space: initial;
}

table.table.table-condensed {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}


table.table.table-condensed td, table.table.table-condensed th   {
    border: 1px solid #363636;
    padding: 3px 0px;
}
table.table.table-condensed input {
    width: 100%;
}

.ctm-check.checkbox {
    width: 100%;
    text-align: left;
    height: 45px;
    padding-left: 0;
}

.ctm-check.checkbox input {
    position: absolute;
    right: 0;
}
.item-input input {
    text-align: right;
    height: auto;
}

table.table.table-condensed .button {
    margin: -2px 5px;
    min-height: auto;
    min-width: auto;
    padding: 0px 5px;
    line-height: 25px;
}

table.table.table-condensed input{
    margin: 0px;
    min-height: auto;
    min-width: auto;
    padding: 0px 10px;
    text-align: right;
}

.col.icon img {
    margin-bottom: -15px;
    position: relative;
    top: -5px;
}